{% extends 'base.html.twig' %}

{% block title %}Mon panier - Mon P'tit Matin{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>Mon panier</h1>
    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.    

   {% if cart|length > 0 %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Produits</th>
            <th scope="col"></th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          {# {{ dump(cart) }}  #}
          {% for formule in cart %}
             {{ dump(cart) }} 
        
          <tr>
            <td><img src="/uploads/{{ formule.formule.illustration }}" alt="{{ formule.formule.title}}" height="75px"><br></td>     
            <td>{{ formule.formule.title }}</td>        
            <td>x {{ formule.quantity }}</td>    
            <td>{{ (formule.formule.price / 100) |number_format(2, ',', '.') }} €</td>
            <td>{{ ((formule.formule.price * formule.quantity) / 100) |number_format(2, ',', '.') }} €</td>
          </tr> 
          {% endfor %}
        </tbody>
      </table>
  </div> 
  {% else %}
  <br>
  Votre panier est vide

  {% endif %}

{% endblock %}
