{% extends 'base.html.twig' %}

{% block title %}{{ formule.title }} - Mon P'tit matin{% endblock %}

{% block content %}
    <div class="page-produit mt-5">
        <div class="image-option">
            <div class="col-md-5">
                <img src="/uploads/{{ formule.illustration }}" alt="{{ formule.title }}" class="image_produit">
                <h2 class='text-center'>{{ formule.title }}</h2>
            </div>
            <div class="col-md-5">
            
            </div>
        </div>
        <div class="formule-description mt-5">
            {{ formule.description|raw }}

        </div>
    </div>
{% endblock %}